<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdyUDwu4AC_C8FLxWlEEHH6L71FkUqw8k</string>
	<key>GCM_SENDER_ID</key>
	<string>16017087609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClonetest</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clonecoding-ian</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clonecoding-ian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16017087609:ios:983ce5f7e32b3400a708a8</string>
	<key>DATABASE_URL</key>
	<string>https://tiktok-clonecoding-ian-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>